.player-lost {
  &__container {
    position: fixed;
    top: 25vh;
    left: 50%;
    min-width: 250px;
    min-height: 250px;
    background-color: rgb(158, 90, 90);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
